@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  /*background: var(--background); */
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}